*{
    box-sizing: border-box;
}

body{
    background-color: #f3f3F3;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 22px 11px 22px ;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    /* background-color: red; */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}


header ion-icon {
    font-size: 42px;
}

/* ASIDE */

aside{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}

aside img {
    width: 130px;
    height: 92px;
    margin: 72px 0 94px 0;
}

aside input{
    height: 54px;
    width: 261px;
    text-align: center;
    margin-bottom: 15px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #FFFFFF;
    font-size: 18px;
}

aside input::placeholder{
    font-family: 'Roboto', sans-serif;
    color: #AEAEAE;
}

aside button{
    background-color: #E7E7E7;
    border-radius: 9px;
    height: 45px;
    width: 109px;
    border: none;
    font-size: 18px;
    color: #696969;
}

/* MAIN */

main{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 106px;
    margin-bottom: 80px;
    /* background-color: purple; */
    height: 100%;
    flex-wrap: wrap;
}

strong{
    font-weight: 700;
}

small{
    color: #AAAAAA;
    margin-right: 5px;
}

.status-room{
    background-color: #DCDCDC;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 14px;
}

.public-messages{
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 14px;

}

.private-messages{
    background-color: #FFDEDE;
    border-radius: 2px;
    padding: 8px;
    margin-bottom: 4px;
    line-height: 20px;
    font-size: 14px;

}
/* FOOTER */

footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 17px;
    bottom: 0;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #FFFFFF;
    /* background-color: blue; */
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

footer input {
    background-color: #FFFFFF;
    border: none;
    width: 100%;
    height: 30px;
    font-family:inherit;
    margin-right: 14px;
}

footer input::placeholder{
    font-style: italic;
    font-size: 18px;
    font-weight: 400;
    color: #000000; 
}

footer ion-icon {
    font-size: 35px;
}



.hidden {
    display: none;
}